table {
font-family: arial, sans-serif !important;
border-collapse: collapse !important;
width: 100% !important;
}
th {
border: 1px solid #dddddd !important;
text-align: center !important;
padding: 8px !important;
}
td {
border: 1px solid #dddddd !important;
text-align: center !important;
padding: 8px !important;
}
tr:nth-child(even) {
background-color: #dddddd !important;
}
* {
box-sizing: border-box;
}
#myInput {
background-image: url('/css/searchicon.png');
background-position: 10px 10px;
background-repeat: no-repeat;
width: 100%;
font-size: 16px;
padding: 12px 20px 12px 40px;
border: 1px solid #ddd;
margin-bottom: 12px;
}
.material-icons {vertical-align:-14%}
