.bg-img {
		background-image: url("polyagonal-web-design.jpg") !important;
		
	   }
	   .hero, .hero-bg-img {
    background-size: cover !important;
    
    height:auto !important;
}
.container.hero.hero-left {
    background-position: left !important;
    height: 100%;
    height: 100% !important;
    /* background-repeat: no-repeat; */
}
html {
  font-size: 62.5%;
}

body, textarea {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.6rem;
}

form {
  font-size: 1.4rem;
  background:"http://paragonframes.com/wp-content/uploads/2017/11/cropped-1605586439-polyagonal-web-design.jpg";
  
}

/*/////////////// FORM STYLES ////////////////////*/
form .field-group {
  display: flex;
  margin: 0 0 12px 0;
}

form .field-group .label {
  flex: 1;
  text-align: right;
  margin: 0 8px 0 0;
  padding: 2px 0;
}

form .field-group .field {
  flex: 3;
}

form .field-group:last-child {
  display: flex;
  justify-content: flex-end;
}

form .field-group:last-child .field {
  max-width: 100%;
}

input, select, textarea {
  padding: .6rem 1rem;
  font-size: 1.6rem;
  border: solid 1px #eee;
  box-sizing: border-box;
}

textarea {
  width: 100%;
}

input, select {
  width: 50%;
}

input[type="radio"],
input[type="checkbox"],
input[type="submit"] {
  margin-left: 290px !important;
  width: 426px !important;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 130% !important;
    font-weight: 500 !important;
    line-height: 1;
    color: #000 !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
/*/////////////// RWD STYLES ////////////////////*/
@media (max-width: 720px) {
  form .field-group .label {
    text-align: left;
    margin: 0;
  }

  input, select {
    width: 60%;
  }
}
@media (max-width: 480px) {
  input,
  select {
    width: 50%;
  }

  input[type="radio"],
  input[type="checkbox"],
  input[type="submit"] {
    width: auto;
  }

  form .field-group {
    display: flex;
    flex-direction: column;
    margin: 0 0 6px 0;
  }

  form .field-group .label {
    padding: 0 0 5px 0;
    margin: 10px 0 0 0;
  }
}

h2, p  {
    display: none!important;
}
