header, footer {
  height: 15px;
  background-color: #fe980f;
}

body{
    margin-left: 9px;
    margin-right: -14px;
}

img {
margin-left:380px;
margin-top:-30px;
width:400px;
}

h3 {
margin-top:60px;
}

hr {
size: 15px;
}

.middle {
text-align: center;
}

.margin {
margin-left:523px;
}

.block {
border: 1px black solid;
}


.footer {
position: fixed;
right: 0;
bottom: 0;
left: 0;
padding: 1rem;
text-align: left;
color:white;
vertical-align: baseline !important;
height: 15px;
background-color: #fe980f;
}

.blocktop {
margin-left: -100px;
margin top: 465px;
    margin-right: -350px;
background-color: #fe980f;
text-align: left;
color:white;
vertical-align: baseline !important;
height: 15px;
}
