.add-button {
  height: 30px;
  width: 30px;
  background: #EC407A;
  border-radius: 50%;
  position: inherit;
  margin-left: -52px;
  margin-bottom: -16px;
  left: 20px;
  bottom: -20px;
  color: #fff;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 500;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  cursor: pointer;
}
.add-button:hover {
  background: #F06292;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.facility-cod
{
	background:url("http://i345.photobucket.com/albums/p396/ruchi122/1470920870_07Wallet_zpsswjtv8dx.png") no-repeat top;
	padding-top:70px;
}

.facility-cod:hover
{
	background:url("http://i345.photobucket.com/albums/p396/ruchi122/1470920870_07_zpspz41uc4k.png") no-repeat top;
}

.facility-card
{
	background:url("images/shipment/60378-debit-card.png") no-repeat top;
	padding-top:70px;
    background-size: 88px 88px;
}

.facility-card:hover
{
	background:url("images/shipment/debit-card-hover.png") no-repeat top;
    background-size: 90px 90px;
}

a {
    text-decoration: none; 
    color: black; 
}

.margin
{
    margin-left:195px;
    margin-bottom:31px;
    margin-top:-18px;
    color:black;
}

.inline {
  display: inline;
}

.link-button {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
  font-family: serif;
}
.link-button:focus {
  outline: none;
}
.link-button:active {
  color:red;
}

.payment {
  margin-left: 500px;
    margin-top: -63px;
}

.check_in {
  margin-left: 0px;
  background: #FE980F;
  border-radius: 0;
  color: #FFFFFF;
  border: none;
  padding: 6px 74px;
}

